<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Main Menu</ion-title>
      <ion-title size="small">Manage Your Accounts</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><ion-icon name="home"></ion-icon> Home</ion-item>
      <ion-item (click)="createAccount()"
        ><ion-icon name="card"></ion-icon> Open New Account</ion-item
      >
      <ion-item (click)="auth.logoutUser()"
        ><ion-icon name="exit"></ion-icon> Logout</ion-item
      >
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Accounts</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="ion-padding" *ngIf="accountDetails !== null">
    <b>Welcome, {{ accountDetails.name }}</b>
  </p>
  <ion-virtual-scroll
    *ngIf="accountDetails !== null"
    [items]="accountDetails.accounts"
  >
    <ion-item *virtualItem="let account" (click)="viewAccount(account)">
      {{ account }}
    </ion-item>
  </ion-virtual-scroll>
  <ion-button expand="block" (click)="createAccount()"
    ><ion-icon name="card"></ion-icon> Open New Account</ion-button
  >
</ion-content>
