<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ account.accountNumber || '' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="ion-padding">
    <h3>Balance: {{ account.balance || 0 }}</h3>
    <h3>Overdraft: {{ account.overdraft || 0 }}</h3>

    <div class="ion-padding">
      <form [formGroup]="accountForm">
        <ion-input
          type="number"
          formControlName="amount"
          placeholder="Enter Amount"
        ></ion-input>
        <ion-button (click)="withdrawCash()"
          ><ion-icon name="cash"></ion-icon> Withdraw</ion-button
        >
        <ion-button (click)="depositCash()"
          ><ion-icon name="wallet"></ion-icon> Deposit
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
