<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ account.accountNumber || '' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="ion-padding">
    <h3 *ngIf="account.balance">Balance: {{ account.balance || 0 }}</h3>
    <h3 *ngIf="account.overdraft">Overdraft: {{ account.overdraft || 0 }}</h3>

    <ion-button expand="block"
      ><ion-icon name="cash"></ion-icon> Withdraw From Account</ion-button
    >
    <ion-button expand="block"
      ><ion-icon name="wallet"></ion-icon> Deposit into Account
    </ion-button>
  </div>
</ion-content>
