<ion-header>
  <ion-toolbar>
    <ion-title>
      Manage Your Bank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>
      <b>Hello There<ion-icon name="happy"></ion-icon></b>
    </p>
    <p><b>Please enter your Online Banking Email and Password to login.</b></p>
  </div>
  <form class="ion-padding" [formGroup]="loginForm" (ngSubmit)="userLogin()">
    <ion-input formControlName="email" placeholder="Email"></ion-input>
    <ion-input
      formControlName="password"
      placeholder="Password"
      type="password"
    ></ion-input>
    <ion-button type="submit" expand="block">Login</ion-button>
  </form>
</ion-content>
