<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>
      If you get lost, the
      <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/"
        >docs</a
      >
      will be your guide.
    </p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
    <ion-input formControlName="email" placeholder="Email"></ion-input>
    <ion-input
      formControlName="password"
      placeholder="Password"
      type="password"
    ></ion-input>
    <ion-button type="submit" expand="block">Login</ion-button>
  </form>
</ion-content>
